rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow the user to read and write their own files in the "savedSongs" folder
    match /savedSongs/{userId}/{allPaths=**} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}